div.Workers
{
	margin-right: auto;
	margin-left: auto;
}

.doc
{
	border: 1px solid red;
	height: 280px;
	border-radius: 16px;
	padding: 5px;
	padding-bottom: 40px;
	display: inline-block;
	text-align: center;
	margin: 5px;
}

.docImage{
	height: 250px;
}